---
import { waLink } from "../data/site";
---

<a
  class="wa-float"
  href={waLink("Hi! I'd like to know more about Unicorn Fitness.")}
  target="_blank"
  rel="noopener"
  aria-label="Chat with us on WhatsApp"
>
  <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
</a>
